.signInBg {
  background-color: #f5f8ff;
}

.loginFormContainer {
  background-color: white;
  margin-left: 3rem;
  max-width: 30rem;
  min-width: 25rem;
  width: 100%;
  display:inline-block;
  border-radius: 1rem;
}

input.userbar {
  width: 90%;
  margin-left: 1rem;
}

input.text-input {
  width: 90%;
  margin-left: 1rem;
}

.submitBtnLogin {
  background-color: #6c61eb;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  width: 80%;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  border-radius: 1rem;
}

.loginTitle {
  padding-left: 3rem;
}

.loginSubtitle {
  padding-left: 3rem;
}

.loginHeader {
  margin-bottom: 0;
  margin-left: 1rem;
}

.introPic {
  margin-left: 10rem;
  display:inline-flex;
  
}

.loginDiv {
  display: flex;
}
