.questionAddForm {
  background-color: white;
  padding: 25px 0;
  border-radius: 7px;
}
.questionAddForm form {
  display: flex;
}

.questionAddForm input {
  font-size: 2rem;
  flex: 1;
  max-width: 50%;

  border: none;
  margin: 0 15px 0 10px;
  border-bottom: 1px solid black;
}

input:focus {
  border: none;
}

.labels {
  display: flex;
}

.inputLabel {
  flex: 1;

  margin: 10px 15px 0 10px;
}
