* {
  /* border: 1px solid black; */
  box-sizing: border-box;
}

.editSetContainer {
  margin: 0 30px 0 30px;
}

.screenHeader {
  text-align: left;
  margin-left: 30px;
  border-bottom: 2px solid black;
  width: 150px;
  /* line height for underline spacing */
  line-height: 15px;
}

/* .formContainer_editScreen .formItem {
  margin: 15px 30px 15px 0;
} */
input.form-input {
  width: 100%;
  padding: 9px 0 9px 10px;
  margin: 10px 0;
  font-size: 1.2rem;
  border: none;
  border-radius: 7px;
  box-shadow: 2px 4px 4px rgb(228, 228, 228);
}

/* .formItem {
  box-shadow: 2px 4px 4px grey;
} */

.edit-question {
  /* edit question set to relative to position exit button */
  position: relative;
}
.submitBtn-wrapper {
  display: flex;
  justify-content: flex-end;
}
.submitBtn {
  margin: 15px 0;
  padding: 10px;
  border-style: none;
  border-radius: 7px;
  opacity: 0;
  transition: all 500ms;
}

.deleteBtn {
  margin: 15px 0;
  padding: 10px;
  border-style: none;
  border-radius: 7px;

  transition: all 500ms;
  background-color: rgb(255, 126, 126);
  margin-right: 15px;
}

.deleteBtn:hover {
  cursor: pointer;
  background-color: rgb(211, 0, 0);
}

.submitBtn:hover {
  cursor: pointer;
}

.fillBtn {
  opacity: 1;
  background-color: #6c61eb;
}

.save-confirmation {
  display: flex;
  align-items: center;
}

i.fa-check {
  margin-left: 10px;
}
