* {
  /* border: 1px solid black; */
  box-sizing: border-box;
}

.editSetContainer {
  margin: 0 30px 0 30px;
}

.screenHeader {
  text-align: left;
  margin-left: 30px;
  border-bottom: 2px solid black;
  width: 150px;
  /* line height for underline spacing */
  line-height: 15px;
}

.formContainer_editScreen {
  margin-left: 0;
  width: 100%;
}

.formContainer_editScreen .formItem {
  margin: 15px 25px 15px 0;
}

.formItem input {
  padding: 15px 15px;
  width: 100%;
  border: none;
}

.questionAddForm {
  background-color: white;
  padding: 25px 0;
  border-radius: 7px;
}
.questionAddForm form {
  display: flex;
}

.questionAddForm input {
  font-size: 2rem;
  flex: 1;
  max-width: 50%;

  border: none;
  margin: 0 15px 0 10px;
  border-bottom: 1px solid black;
}

input:focus {
  border: none;
}

.labels {
  display: flex;
}

.inputLabel {
  flex: 1;
  max-width: 50%;
  margin: 10px 15px 0 10px;
}
