.question-edit-form {
  background-color: white;
  margin: 17px 0 0 0;
  border-radius: 7px;
  position: relative;
  box-shadow: 2px 4px 4px rgb(228, 228, 228);
}

.add-question {
  padding-bottom: 10px;
}

form.edit-question {
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
}
input.form-question-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  font-size: 1.6rem;
}

input.form-question-input:focus {
  outline: none;
}

.form-item {
  flex-basis: 100%;
  margin: 10px 9px 0 9px;
}

.info-text {
  line-height: 1;
  color: rgb(78, 78, 78);
  padding: 10px 0;
}

.deleteBtn {
  align-self: center;
}
i.fa-times {
  color: red;
  position: absolute;
  top: 10%;
  right: 5px;
  font-size: 1.7rem;
  opacity: 0;
  transition: opacity 500ms;
}

i.fa-plus {
  color: green;
  position: absolute;
  top: 10%;
  right: 5px;
  font-size: 1.7rem;
  opacity: 0;
  transition: opacity 500ms;
}

i.fa:hover {
  cursor: pointer;
}

i.show {
  opacity: 1;
}

.add-new-text {
  position: absolute;
  top: 0;
  left: 14px;
  font-size: 0.8rem;
  color: rgba(108, 97, 235, 0.4);
}
