.homeScreenContainer {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.screenHeader {
  text-align: left;
  margin-left: 30px;
  border-bottom: 2px solid black;
  width: 150px;
  /* line height for underline spacing */
  line-height: 15px;
}

i.fa.fa-plus.add-set-btn {
  opacity: 1;
  position: static;
  margin-left: 0.5rem;
  max-width: 25px;
}

.add-set-p {
  max-width: 3rem;
  margin-left: 2rem;
}